#files{
  width: 20%;
  display: inline-block;
}

#editor{
  position: fixed;
  display: inline-block;
  background-color: #EEEEEE;
  width: 70%;
  border-left: 1px solid #ccc;
}

#files p{
  opacity: 0.5;
}

#files #fileprompt{
  opacity: 1;
}

#files p:hover{
  opacity: 1;
  cursor: pointer;
}

.inputBox {
  border-radius: 12px;
}

.modal-mask{
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper{
  display: table-cell;
  vertical-align: middle;
}

.modal-container{
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.33);
  transition: all 0.3s ease;
}
