#files{
  width: 20%;
  display: inline-block;
}

#editor{
  position: fixed;
  display: inline-block;
  background-color: #EEEEEE;
  width: 70%;
  border-left: 1px solid #ccc;
}

#files p{
  opacity: 0.5;
}

#files #fileprompt{
  opacity: 1;
}

#files p:hover{
  opacity: 1;
  cursor: pointer;
}
